.about-header {
  text-align: center;
}
.about-par1 {
  padding-top: 30px;
  text-align: center;
}
/* TEAM */
.about-team-name {
  padding-top: 30px;
  text-align: center;
}
.about-team-col {
  padding-top: 30px;
  text-align: center;
}
.about-team-img {
  height: 100px !important;
  width: 100px !important;
}
.about-team-name {
  font-weight: bold;
}
.about-team-position {
  font-style: italic;
}
.about-section {
  padding: 30px 0px;
  text-align: center;
}
.about-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 990px) {
  .about-img {
    height: 288px;
    width: 288px;
  }
}
