/*********** ORDER ***********/
.order-title {
  text-align: center;
  margin-bottom: 25px;
}
.order-col {
  padding: 0px !important;
}
.order-initial-mode-btn {
  border-radius: 0% !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.order-mode-btn {
  background-color: #17a2b8 !important;
  color: #fff !important;
}
.order-content {
  background-color: #fff;
  padding: 30px 50px !important;
}
.order-textAlign {
  text-align: center;
}
.order-verticalAlign {
  vertical-align: middle !important;
}
.order-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.order-quantity {
  width: 15vh;
}
.order-fontWeight {
  font-weight: bold;
}
.order-total {
  vertical-align: middle;
  text-align-last: right;
}
.order-empty {
  vertical-align: middle;
  font-weight: bold;
}
/*********** PICKUP ***********/
.title-padding-bottom {
  padding-bottom: 15px;
  text-align: center;
}
.details-padding-top {
  padding-top: 15px;
}

/*********** DELIVER ***********/
