/*********** ORDER ***********/
.order-title {
  text-align: center;
  margin-bottom: 25px;
}
.order-col {
  padding: 0px !important;
}
.order-initial-mode-btn {
  border-radius: 0% !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: #c0bcb5 !important;
  border-color: white !important;
  color: black !important;
}
.order-initial-mode-btn:focus {
  box-shadow: none !important;
}
.order-mode-btn {
  color: black !important;
  background-color: #eef0f2 !important;
  border-top-color: #c0bcb5 !important;
  border-right-color: #c0bcb5 !important;
  border-left-color: #c0bcb5 !important;
  border-bottom-color: #eef0f2 !important;
}
.order-content {
  background-color: #eef0f2;
  padding: 30px 50px !important;
  border: 1px solid #c0bcb5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.order-textAlign {
  text-align: center;
}
.order-verticalAlign {
  vertical-align: middle !important;
}
.order-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.order-quantity {
  width: 15vh;
}
.order-fontWeight {
  font-weight: bold;
}
.order-total {
  vertical-align: middle;
  text-align-last: right;
}
.order-empty {
  vertical-align: middle;
  font-weight: bold;
}
.order-table-textAlign {
  text-align: center;
}
.table {
  margin-bottom: 3rem !important;
}
.order-fetching {
  text-align: center;
  margin-bottom: 25px;
}
/*********** PICKUP ***********/
.title-padding-bottom {
  padding-bottom: 15px;
  text-align: center;
}
.details-padding-top {
  padding-top: 15px;
}
.btn-primary {
  background-color: #846075 !important;
  border-color: #846075 !important;
}
/*********** DELIVER ***********/
